  :root {
    --white: #e1e4e4;
    --buttons: #1a5aed;
    --body: #010e1d;
    --nav: #020c1a: ;
    --text:#2160EF;
  }
  /* body  */
  .container{
    /* background: green; */
    height: 500px; 
    width: 100%;
    display: flex;
    
  }
  .left{
    width: 33.5%;
    /* background-color:  crimson; */
    padding: 60px 90px;
    height: 280px;

  }
  .left h1 span{
    color: var(--text);
  }
  .left h1{
    font-size: 5vw;
    line-height: 1.2; 
  }
  .left p{
    padding: 13px 10px;
    font-size: 1.5vw;
    width: 32vw;
  }
  .bodybuttons{
    display: flex;
    padding: 10px 10px;
    gap: 45px;
    height: 70px;
  }
  .bodybuttons button{
    width:63vw;
    height: 9vh;
    font-size:  1.3vw;
    font-weight: 600;
    color: var(--white);
    
  }
  #mobilestartbtn{
    background-color: var(--buttons);
    border: 2px solid var(--buttons);
    border-radius: 5px;
  }

  #notbgbutton{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.752);
    border-radius: 5px;
  }

  .right{
  /* background: green;  */
    overflow: hidden;
    height: 522px;
    padding-top: 35px;
    padding-right: 300px;
  }  
  .right img{
    width: 49vw;
  }
  .mobilecontainer{display: none;}

  /* card features  */
  .cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;

    /* background: red; */
    /* position: absolute  ; */
    /* height: 400px; */
  }
  .displayicon{
    padding-top: 20px;
    /* background-color: green; */
    display: flex;
    width: 120px;
    /* height: 100px; */
  }
  .displayicon img{
    width:55px;
    margin-right: 5px;
  }
  .displayicon p{
  position: absolute;
    padding-top: 34px;
    padding-left: 60px;
    font-size: 16px;
    width: 10px;
  }
  .features{
    display: none;
  }
  .bodyskill{
    padding-top: 100px;
    /* height: 200px; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
  }
  .pctext h4{
    font-size: 35px;
    border-bottom: 6px solid var(--text);
    border-radius: 10px;
    width: 100%;
  }
  .pcfeatures{
    display: flex;
    gap: 50px;
    padding:70px 100px ;
  }
  .addfestures{
    background-color: #031b396d ;
    border: 2px soild #031b396d;
    border-radius: 40px;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    width: 300px;
    height: 250px;
  }
  /* background-color: white ; */
  .addfestures img{
    width: 80px;
  }
  .addfestures h4{
    margin: 10px 0;
    font-size: 20px;
  }
  .addfestures p{
    padding: 0 32px;
  }


.icons{
  margin: 0 67px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #031b396d;
  height: 150px;
  width: 90%;
  margin: 0 67px;
}

.icon img{
  width: 90px;
  /* padding: 0 10px; */
}
    


    
      