@import url("https://fonts.googleapis.com/css2?family=Miranda+Sans:ital,wght@0,400..700;1,400..700&family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --colour: #2563eb;
}
body {
  background: rgba(218, 216, 216, 0.642);
}

* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: rgb(247, 247, 247);
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}
.navbar ul {
  display: flex;

  align-items: self-start;
  justify-content: end;
}
.navbar li {
  height: 60px;

  margin: 0 30px 0 4px;
  list-style: none;
  display: flex;
  align-items: center;
}
#contact {
  margin-right: 80px;
}
.navbar ul button {
  width: 140px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin: 11px 40px 0 0;
  height: 35px;
  border: 0.4px solid black;
  background-color: var(--colour);
  border-radius: 6px;
}
.logo {
  height: 0px;
  display: flex;
}
.logo a img {
  margin-left: 61px;
  margin-top: 9px;
  height: 37px;
}
.logo h2 {
  margin-top: 23px;
  font-size: 18px;
}

/*  Footer */

.foot {
  background-color: var(--colour);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
}

.img img {
  filter: brightness(59%) contrast(114%);
}
.img {
  overflow: hidden;
}

#first {
  color: white;
  position: absolute;
  bottom: 65vh;
  left: 74px;
  font-size: 80px;
  font-weight: 700;
}
#secound {
  color: white;
  position: absolute;
  bottom: 51vh;
  left: 74px;
  font-size: 80px;
  font-weight: 700;
}
#third {
  color: white;
  position: absolute;
  bottom: 38vh;
  font-size: 80px;
  left: 74px;
  font-weight: 700;
}
#para1 {
  color: white;
  position: absolute;
  bottom: 32vh;
  left: 74px;
  font-size: 17px;
}
#para2 {
  color: white;
  position: absolute;
  bottom: 28.5vh;
  left: 74px;
  font-size: 17px;
}
.img button {
  width: 160px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 11px 40px 0 0;
  height: 50px;

  background-color: var(--colour);
  border-radius: 6px;
  position: absolute;
  bottom: 17.5vh;
  left: 74px;
}

/* Features */

.features {
  display: flex;

  background: rgb(255, 255, 255);
  width: 85vw;
  height: 100px;
  position: absolute;
  /* left: 30vw; */
  margin: -63px;
  border: 2px solid white;
  border-radius: 19px;
}
.downbody {
  display: flex;
  justify-content: center;
}

/* flight div */
.flight img {
  height: 82px;
}
.flight {
  display: inline-flex;
  margin: 9px -24px 0 0;
}
.flight p {
  position: relative;
  top: 30px;
  right: 100px;
  width: 190px;
}

/* hotel div */
.hotel img {
  height: 82px;
}
.hotel {
  display: inline-flex;
  margin: 9px -24px 0 0;
}
.hotel p {
  position: relative;
  top: 30px;
  right: 118px;
  width: 190px;
}
.hotel h3 {
  margin-left: 7px;
}

/* deal tag div */
.tag img {
  height: 82px;
}
.tag {
  display: inline-flex;
  margin: 9px -24px 0 0;
}
.tag p {
  position: relative;
  top: 30px;
  right: 131px;
  width: 190px;
}

/* footer */
.destination {
  height: 10px;
  margin-top: 65px;
}
.headings h3 {
  display: flex;
  font-weight: 550;
  justify-content: center;
}
.headings h1 {
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin: 10px 0 10px 0;
}
.headings p {
  display: flex;
  justify-content: center;
  font-weight: 430;
  margin: 10px 0 10px 0;
}

/*  images of destinations */

.imgdisti {
  background: rgb(255, 255, 255);
  height: 400px;
  width: 85vw;
  position: absolute;
  left: 16vh;
  border: 2px solid white;
  border-radius: 19px;
  margin-top: 20px;
}

.img1 img {
  height: 260px;
}
.img1 h3 {
  position: absolute;
  right: 76.5vw;
  bottom: 113px;
}
.img1 p {
  width: 135px;
  position: absolute;
  right: 998px;
  bottom: 92px;
}

/* img 2 */
.img2 img {
  height: 240px;
  position: absolute;
  bottom: 147px;
  left: 282px;
}

.img2 h3 {
  position: absolute;
  right: 53.5vw;
  bottom: 113px;
}
.img2 p {
  width: 135px;
  position: absolute;
  right: 710px;
  bottom: 92px;
}

/* img3 */

.img3 img {
  height: 245px;
  position: absolute;
  bottom: 144px;
  left: 577px;
}

.img3 h3 {
  position: absolute;
  right: 36.5vw;
  bottom: 113px;
}
.img3 p {
  width: 135px;
  position: absolute;
  right: 416px;
  bottom: 92px;
}


/* img4 */

.img4 img {
  height: 245px;
  position: absolute;
  bottom: 144px;
  left: 876px;
}

.img4 h3 {
  position: absolute;
  right: 15.5vw;
  bottom: 113px;
}
.img4 p {
  width: 135px;
  position: absolute;
  right: 112px;
  bottom: 92px;
}